<div class="footer-container container">
	<div class="footer-topper">	
		<div class="inner">
			<div class="left">
				<h2>Info</h2>
				<p>bugfish epeisodion camelopard conred genuclast cutinize Natricinae Archontia congregable thoraciform atmospheric Coccosteus impressable agency basilweed Iscariotism prestudiously ibex calliphorine unbegrimed psychophysiologic unmortgaged xylostroma houseroomLorem Ipsum</p>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
	<div class="footer-standard">
		<div class="inner">
			<div class="left copy">
				© 2019 Urban Institute
			</div>
			<div class="right">
				 <ul class="header-choices">
					<li class="tab"><a href="" target="_blank">Footer Link</a></li>
					<!-- <li class="tab"><a href="">Terms</a></li> -->
				</ul>
			</div>

			<div class="clearer"></div>
		</div>
	</div>
</div>