<div class="body-container container">
	<div class="inner">
		<div class="title-page">
{{!-- 			<div class="title-page-intro">
				<h1>Data Generator</h1>						
				<p>
					Build your own data set using our guided editor. Select the schools, districts, or states you’re interested in, and then choose the information you want about those schools or the schools in your selected geography. 
				</p>
			</div>
			<div class="title-page-cards">
				<div class="card">
					<div>
						<h2>Select schools</h2>
						<p>In the first step, you’ll select the set of schools you’re interested in – say, all schools in Virginia, or all charter elementary schools in Miami and Chicago.</p>
						<!-- <a>About Limiting Data Sets</a> -->
					</div>
				</div>
				<div class="card">
					<div>
						<h2>Choose variables</h2>
						<p>In step two, you’ll tell us what information you want about those schools, whether it’s the racial breakdown of students over time or the number of suspensions reported in 2012. </p>
						<!-- <a>About Limiting Data Sets</a> -->
					</div>
				</div>
				<div class="card">
					<div>
						<h2>Export your data</h2>
						<p>The data you select will be displayed in a table and a downloadable CSV file.</p>
						<!-- <a>About Limiting Data Sets</a> -->
					</div>
				</div>

				<div class="card">
					<div>
						<h2>Use your data</h2>
						<p>Opening the CSV in Excel or a similar program allows you to sort, filter, and present the information however you choose. </p>
						<!-- <a>About Limiting Data Sets</a> -->
					</div>
				</div>																		
			</div> --}}
			<div class="clearer title-page-generator">
				<div class="centered buttonThree">
					<a href="./subpage">
						<div class="tab generator latent threeWide">
							<span>See a subpage</span>
						</div>
					</a>					
				</div>				
			</div>
		</div>
	</div>
</div>